$background-color: #EAD1DC;

$button-color: #D9EAD3;
$button-color-hover: #C8D1C5;
$button-color-secondary: #E8E8E8;
$button-color-secondary-hover: #D2D2D2;

$modal-background: rgba(54, 54, 54, 0.4);

$font-size: 18px;
$border-radius: 7px;